@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: "LatoWeb";
  font-size: calc(0.3rem + 0.7vw);
  font-style: normal;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #e8e8e8;
  background: #161616;
}

#grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15vw 1fr;
  grid-template-areas: "sidebar collection";
}

#aside {
  grid-area: "sidebar";
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 1vh 1vw;
  background:#2e2e2e;
  color:#e8e8e8;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#aside a{
  color: #e8e8e8;
  border-bottom: 0.1em #e8e8e8;
  text-decoration: none;
}

#aside a.current {
  text-decoration: underline;
}

#aside .actions {
  justify-self: flex-end;
  display: flex
}

#aside .actions ul {
  list-style:none;
  margin-left:1vw;
  padding:.5vw;
}

#aside .actions a {
  color:#e8e8e8;
}

#collection {
  grid-area: "collection";
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

img, video {
  max-width: 100%;
  max-height: 101vh;
  vertical-align:top;
}

.hidden {
  opacity:0 !important;
  transition-duration:.5s !important;
  transition-timing:ease-out !important;
}

.feather {
  width: calc(0.3rem + 0.7vw);
  height: calc(0.3rem + 0.7vw);
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  top: .125em;
  position: relative;
}
