<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gallery_title }}</title>
    <meta name="description" content="{{ gallery_description }}" />
    <link href="{{ base_url ~ 'assets/style.css'}}" rel="stylesheet" type="text/css"/>
    <link href="{{ base_url ~ 'assets/fonts.css' }}" rel="stylesheet" type="text/css"/>
</head>

<body>
<aside>
  <div class="galery-title">
      <h1>{{ gallery_title }}</h1>
  </div>
  <div>
    <ul>
    {% for collection in collections_data %}
    {% if collection['src_uri'] == current_collection_uri %}
      <li> <a class="current" href="{{ collection['src_uri'] }}">{{ collection['title'] }}</a>
    {% else %}
      <li> <a href="{{ collection['src_uri'] }}">{{ collection['title'] }}</a>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class='actions'>
    <ul>
    {% if downloadable %}
      <li> <a href={{ current_collection_uri ~ 'archive.zip' }}>Download collection</a>
    {% endif %}
    </ul>
</aside>

<article>
    {% for slide in slides %}
            {% if slide['type'] == 'text'%}
        <div class="slide text" id="slide-{{loop.index}}">
                {{ slide }}
            {% elif slide['type'] == 'photo'%}
        <div class="slide photo" id="slide-{{loop.index}}">
            {% if slide['caption']%}
            <div class="caption {% if slide['caption_meta']['class']%} {{ slide['caption_meta']['class'] }} {% endif %}" style="top: {{slide['caption_meta']['top']}}%; left: {{slide['caption_meta']['left']}}%; width: {{slide['caption_meta']['width']}}%; height: {{slide['caption_meta']['height']}}%; {% if slide['caption_meta']['class']%} {{slide['caption_meta']['style']}} {% endif %}">
                {% if slide['caption'] %}
                    {{ slide['caption'] }}
                {% endif %}
            </div>
            {% endif %}

            <img srcset ="{{slide['src_uri'] ~ '/1920px.jpg 1920w'}}, {{slide['src_uri'] ~ '/1280px.jpg 1280w'}}, {{slide['src_uri'] ~ '/1024px.jpg 1024w'}}, {{slide['src_uri'] ~ '/640px.jpg 640w'}}"
                 sizes="85vw"
                 src="{{ slide['src_uri'] ~ '/1280px.jpg' }}"
            />
            {% elif slide['type'] == 'video' %}
        <div class="slide video" id="slide-{{loop.index}}">
          <video muted controls loop autoplay>
            <source src="{{slide['src_uri'] ~ '/video.webm' }}" type="video/webm">
            <source src="{{slide['src_uri'] ~ '/video.mp4' }}" type="video/mp4">
            Your browser does not support the video tag.
          </video> 
            {% endif %}
        </div>
    {% endfor %}
</article>
</body>
</html>
