<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gallery_title }}</title>
    <meta name="description" content="{{ gallery_description }}" />
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/fonts.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<aside>
  <div class="galery-title">
      <h1>{{ gallery_title }}</h1>
  </div>
  <div>
    <ul>
    {% for collection in collections %}
    {% if collection['name'] == current_collection %}
      <li> <a id="current" href="/{{ collection['path'] }}">{{ collection['name'] }}</a>
    {% else %}
      <li> <a href="/{{ collection['path'] }}">{{ collection['name'] }}</a>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
</aside>

<article>
    {% for slide in slides %}
            {% if slide['type'] == 'text'%}
        <div class="slide text" id="slide-{{loop.index}}">
                {{ slide['data'] }}
            {% elif slide['type'] == 'photo'%}
        <div class="slide photo" id="slide-{{loop.index}}">
            {% if slide['data']['caption']%}
            <div class="caption {% if slide['data']['caption_meta']['class']%} {{ slide['data']['caption_meta']['class'] }} {% endif %}" style="top: {{slide['data']['caption_meta']['top']}}%; left: {{slide['data']['caption_meta']['left']}}%; width: {{slide['data']['caption_meta']['width']}}%; height: {{slide['data']['caption_meta']['height']}}%; {% if slide['data']['caption_meta']['class']%} {{slide['data']['caption_meta']['style']}} {% endif %}">
                {% if slide['data']['caption'] %}
                    {{ slide['data']['caption'] }}
                {% endif %}
            </div>
            {% endif %}

            <img srcset ="/{{slide['data']['filename'] ~ '/1920px.jpg 1920w'}}, /{{slide['data']['filename'] ~ '/1280px.jpg 1280w'}}, /{{slide['data']['filename'] ~ '/1024px.jpg 1024w'}}, /{{slide['data']['filename'] ~ '/640px.jpg 640w'}}"
                 sizes="85vw"
                 src="/{{ slide['data']['filename'] ~ '/1280px.jpg' }}"
            />

            {% endif %}
        </div>
    {% endfor %}
</article>
</body>
</html>
